
body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}


main {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-left: 15px; 
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* font-size: 28px;  */
    /* padding: 0px 10px; */
}


#content {
    text-align: left;
    font-size: 30px;
    color: black;
    margin-left: 75px;
    line-height: 1.4;
    padding-bottom: 15px;
}

/* print {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: 200px;
    height: 15px;
} */

/* #verifyInput {
    display: inline-block;
    border-radius: 30px;
    border: 2px solid darkgray;
    padding: 12px;
    width: 420px;
    height: 1px;
    margin-top: 70px;
    margin-left: 253px;
    margin-right: 150px;
    text-align: left;
}  */

#verifyInput {
    width: 200px;
    margin-top: 50px;
    margin-left: 100px;
}

.show {
    display: input;
}

#outputArea {
    line-height: 1.75;
    padding: 25px;
    margin-left: 50px;
}

/* #button {
    display: none;
    /* display: inline-block; */
    /* border-radius: 30px;
    border: 2px solid darkgray;
    padding: 12px;
    width: 490px;
    height: 1px;
    margin-top: 25px;
    margin-left: 200px;
    text-align: right;
    font-size: 10px;
} */ 

/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} */

form {
    padding: 0 100px;
}

#content{
    padding: 0 200px;
}
